

body{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    align-items: center;
}
.features{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    background-color: antiquewhite;
    width: fit-content;
    align-items: center;

}

.features button {
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.features button:hover {
    cursor: pointer;
    background-color:  rgb(220, 180, 46);;
}

.items table th,td{
    border: 1px solid #100f0f;
    padding: 8px;
}