* {
    background-color: antiquewhite;
}

:root{
    --itemdiv:rgb(246, 227, 202);
}


.mycarttext{
    margin-top: 100px;
    margin-left: 20%;
}



main{
    display: flex;
    padding: 5%;
    gap: 100px ;
    margin: 0%;
}

.items {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    gap: 5px;
    margin-left: 17%;
    width: 500px;
}

.item {
    display: flex;
    background-color: var(--itemdiv);
    border-radius: 10px;
    padding: 15px;
    align-items: flex-start;
    width: 100%;
    
}

.cartiteminfo{
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--itemdiv);
}
.cartiteminfo *{
    background-color: var(--itemdiv);
}

#cartitemimg{
    padding: 10px;
    flex-shrink: 0;
    background-color: var(--itemdiv);
}
.plusminus{
    padding: 10px;
    flex-shrink: 0;
    display: flex;
    background-color: var(--itemdiv);
}

.plusminus >p{
    background-color: var(--itemdiv);
}
.plusminus label{
    display: inline-block;
    text-align: center;
    font-size: 12px;
    margin-right: 0;
    padding-bottom: 0;
}


.checkout{
    border: 1px solid black;
    background-color: var(--itemdiv); 
    height: fit-content;

}


.orderDetails{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: var(--itemdiv); 
    padding: 10px;
    max-height: fit-content;
    display: none;
    border-radius: 10px;
    

}

.orderDetails *{
    background-color: var(--itemdiv);
}
.orderDetails h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toCheckout {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding: 10px;
    color: white;
    background-color: rgb(220, 180, 46);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Ensure the <p> tag inside the button is aligned to the right */
#toCheckout p {
    margin: 0; 
    padding: 0;
    font-weight: bold; 
    color: black;
    background-color: rgb(220, 180, 46);
}

.mycarttext img{
    height: 400px;
    width: 500px;
    display: none;
}


@media (width < 550px) {
    
    .mycarttext {
        margin-top: 150px;
        margin-left: 10%;
    }

    main{
        flex-direction: column;
        align-items: center;
        gap:2em;
    }

    .items{
        margin-left: 0%;
    }
    .orderDetails{
        width: 100%;
    }
}